* {
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
}

h1 {
  background-color: #f5d058;
  width: 250px;
  margin: 100px auto;
  padding: 25px;
  border-color: #ff5900;
  border: 2px solid #ff5900;
  text-align: center;
}
 
h2, h3, h4 {
  color: brown;
}

p, ol, li {
  background-color: #f5d058;
}

.menu-items {
  padding: 40px 15px;
  margin: 50px auto;
  width: 15%;
  border: 2px solid #ff5900;
  background-color: #f5d058;
  font-size: larger;
}
